<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link href="styles/normalize.css" rel="stylesheet"/>
        <link href="styles/styles.css" rel="stylesheet"/>
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"/>
        <title>
            Salvo
        </title>
    </head>
    <body>
        <div id="app">
            <h1 class="text-center">
                Salvo
            </h1>
            <div class="text-center">
                <p>
                    Game: {{info.idGame}}
                </p>
                <p v-for="x in info.gamePlayers" v-if="x.idGp != gp">
                    {{info.player}} vs. {{x.player.userName}}
                </p>
            </div>
            <div class="flex-container">
                <div id="dock">
                    <div id="display">
                        <p>
                            Welcome...
                        </p>
                    </div>
                    <!--The new ships will show up here, waiting for been placed in the grid -->
                </div>
                <div id="grid">
                    <!--The grid will appear here -->
                </div>
                <div id="grid-salvo">
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
        </script>
        <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
        </script>
        <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
        </script>
        <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
        </script>
        <script src="scripts/ships.js">
        </script>
        <script src="scripts/grid.js">
        </script>
        <script src="scripts/main.js">
        </script>
    </body>
</html>