@font-face {
    font-family: "SuperMario";
    src: url("../fonts/SuperMario.ttf");
}
@font-face {
    font-family: "Mario";
    src: url("../fonts/Mario.ttf");
}
@font-face {
    font-family: "GT Walsheim";
    src: url("../fonts/GT Walsheim.ttf");
}
@font-face {
    font-family: "Pixel";
    src: url("../fonts/Pixel.ttf");
}
@font-face {
    font-family: "Led";
    src: url("../fonts/Led.ttf");
}
@font-face {
    font-family: "Date";
    src: url("../fonts/Date.ttf");
}
@font-face {
    font-family: "Game Over";
    src: url("../fonts/game_over.ttf");
}
@font-face {
    font-family: "Game";
    src: url("../fonts/Game.ttf");
}
@font-face {
    font-family: "uno";
    src: url("../fonts/uno.ttf");
}
@font-face {
    font-family: "dos";
    src: url("../fonts/dos.ttf");
}
@font-face {
    font-family: "tres";
    src: url("../fonts/tres.ttf");
}
@font-face {
    font-family: "cuatro";
    src: url("../fonts/cuatro.ttf");
}